/* Reset básico */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales */
body {
    font-family: "Poppins", sans-serif;

    background-color:#fff;

    
    
    
}



@-webkit-keyframes scale-in-center {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
  }
  @keyframes scale-in-center {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
}
  
  

/* Barra de navegación */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: transparent;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    transition: background-color 0.3s ease;
    height: 80px;
}

.navbar.scrolled {
    background-color: #59736d;
}

.navbar .logo img {
    width: 180px;
    transition: transform 0.3s ease;
}

.navbar .nav-links {
    display: flex;
    list-style: none;
    transition: all 0.5s ease;
}

.navbar .nav-links li {
    margin: 0 1rem;
}

.navbar .nav-links a {
    color: #eefffc;
    text-decoration: none;
    padding: 0.5rem 1rem;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: color 0.3s ease, background-color 0.3s ease;
    border-radius: 5px;
   
}

.navbar .nav-links a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    
}

/* Dropdown */
.navbar .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(0, 128, 128, 0.9);
    min-width: 160px;
    z-index: 1;
    border-radius: 10px;
    margin-top: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar .dropdown:hover .dropdown-content {
    display: block;
}

.navbar .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s ease;
}

.navbar .dropdown-content a:hover {
    background-color: #575757;
    border-radius: 5px;
}

/* Estilos del menú hamburguesa */
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.hamburger span {
    background-color: #fff;
    height: 3px;
    width: 25px;
    margin: 4px 0;
    border-radius: 5px;
    transition: all 0.3s ease;
}

/* Estilos del menú responsive */
@media (max-width: 768px) {
    .navbar {
        background-color: #59736d;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        left: 100%;
        height: 100%;
        width: 100%;
        background-color: #59736d;
        transition: all 0.5s ease;
       
    }

    .nav-links.active {
        left: 0;
    }

    .nav-links li {
        margin: 2rem 0;
    }

    .hamburger {
        display: flex;
    }

    /* Animación de la hamburguesa */

    .hamburger.active span:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }

    .hamburger.active span:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active span:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -5px);
    }
}

@media (max-width: 480px) {
    .navbar .logo img {
        width: 150px;
    }
}

/* Sección Info */
.info {
    

    background: linear-gradient(to bottom, #303c3a , #303c3a );/* Degradado de naranja a rosa */
    
    display: flex;
    flex-direction: row; /* Disposición en fila para pantallas grandes */
    justify-content: space-around; /* Espaciar los elementos uniformemente */
    align-items: center;
    
    margin-bottom: 50px;

    padding: 30px 80px; /* Añadir un pequeño padding lateral para evitar que quede pegado a los bordes */

}

/* Estilo para la sección "info-somos" */
.info-somos {
    display: flex;
    flex-direction: column; /* Colocar los elementos en columna */
    align-items: center;
    margin: 50px;
    width: 450px;
    
}

.info-somos p {
    color: #c0cfca;
    font-size: 20px;
    padding-top: 40px;
    text-align: center;
}

.info-somos h2 {
    color: #f5f8f7;
    font-size: 50px;
    
}

/* Contenedor de la galería utilizando grid */
.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Tres columnas en pantallas grandes */
    grid-template-rows: auto auto;
    gap: 10px;
    width: 50%;
    margin: 100px 30px; /* Añadir margen para evitar que quede pegado a los bordes */
    padding: 0 10px; /* Añadir padding lateral */
    -webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    
}
.gallery :hover {
    transform: scale(1.05); /* Efecto de crecimiento */

}

/* Elemento grande (ocupa todo el ancho) */
.gallery-item.large {
    grid-column: 1 / -1;
    height: 400px;
    transition: transform 0.3s ease;
    
}

/* Ajustar las imágenes al contenedor */
.gallery-item {
    transition: transform 0.3s ease;
    position: relative;
    overflow: hidden;
    height: 150px;
    border-radius: 10px ;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); /* Sombra */
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajustar sin distorsionar */
    display: block;
    
    
    
}

/* Media Queries para tabletas (pantallas medianas de hasta 720px) */
@media (max-width: 768px) {
    .info {
        flex-direction: column; /* Colocar los elementos en columna */
        align-items: center;
        margin: 30px 0;
        padding: 50px 5px; /* Reducir el padding lateral en tabletas */
    }

    .info-somos {
        width: 80%; /* Reducir el ancho */
        margin: 20px;
    }

    .gallery {
        width: 80%;
        grid-template-columns: repeat(3, 1fr); /* Dos columnas en tabletas */
        margin: 20px auto;
        padding: 0 5px; /* Reducir el padding lateral en tabletas */
    }

    .gallery-item.large {
        height: 250px; /* Reducir altura de la imagen grande */
    }

    .gallery-item {
        height: 120px; /* Reducir la altura de las imágenes pequeñas */
    }
}

/* Media Queries para celulares (pantallas pequeñas de hasta 480px) */
@media (max-width: 480px) {
    .info {
        flex-direction: column; /* Colocar los elementos en columna */
        align-items: center;
        margin: 5px 0;
        margin-top: 80px;
        padding: 0 5px; /* Reducir el padding lateral en móviles */
    }

    .info-somos {
        width: 100%;
        margin: 10px;
        padding: 10px;
        text-align: center;
    }

    .info-somos p {
        font-size: 18px; /* Reducir el tamaño del texto */
    }

    .info-somos h2 {
        font-size: 30px; /* Reducir el tamaño del título */
    }

    .gallery {
        width: 100%;
        grid-template-columns: repeat(3, 1fr); /* Una columna en pantallas pequeñas */
        margin: 20px auto;
        padding: 0 5px; /* Reducir el padding lateral en móviles */
    }

    .gallery-item.large {
        height: 200px; /* Reducir aún más la altura de la imagen grande */
    }

    .gallery-item {
        height: 100px; /* Reducir la altura de las imágenes pequeñas */
    }
}


/* Estilo general para la sección */
.text-image-section {
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    gap: 20px; /* Espacio entre el texto y la imagen */
    background-color: #59736d;
    
    margin: 30px 200px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    
}

/* Estilo para el contenido del texto */
.text-content {
    flex: 1; /* Ocupa el espacio disponible */
    max-width: 50%; /* Limita el ancho máximo del texto */
    text-align: center;
    padding: 20px;

    
    
}

.text-content h2{
    color: #f5f8f7;
    font-size: 50px;
    margin-bottom: 60px;
}

.text-content p{
    color: #c0cfca;
}

/* Estilo para el contenido de la imagen */
.image-content {
    flex: 1; /* Ocupa el espacio disponible */
    max-width: 50%; /* Limita el ancho máximo de la imagen */
    
}

/* Estilo para la imagen */
.image-content img {
    width: 100%; /* La imagen ocupa el 100% del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
    border-radius: 8px; /* Opcional: añade bordes redondeados */
    display: block; /*elimina el margen de abajo*/
    object-fit: cover;
}

/* Media Queries para pantallas de hasta 720px */
@media (max-width: 768px) {
    .text-image-section {
        flex-direction: column-reverse; /* Cambia a disposición vertical en pantallas pequeñas */


        text-align: center; /* Centra el texto */
        margin: 0 10px;
        
    }

    .text-content,
    .image-content {
        max-width: 100%; /* Ocupa todo el ancho en pantallas pequeñas */
        text-align: center;
        
    }
}

/* Media Queries para pantallas de hasta 480px */
@media (max-width: 480px) {
    .text-image-section {
        
        flex-direction: column-reverse; /* Cambia el orden: imagen abajo, texto arriba */
        
        gap: 40px; /* Menor espacio entre los elementos */
        margin: 0 10px;
        margin-top: 30px;
        
    }

    .text-content {
        text-align: center; /* Centra el texto */
        font-size: 14px; /* Reducir el tamaño del texto */
    }

    .text-content h2 {
        font-size: 30px; /* Reducir el tamaño del título */
    }

    .image-content img {
        border-radius: 5px; /* Bordes menos pronunciados en pantallas pequeñas */
    }
}


/* Estilos generales para el formulario */
.contact-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 20px;
    
}

.contact-container {
    background-color: #59736d;
    padding: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 600px;
}

.contact-container h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2rem;
    color: #333;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    margin-bottom: 5px;
    font-size: 1rem;
    color: #333;
    
}

.form-group input,
.form-group textarea {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 30px;
    outline: none;
    transition: border-color 0.3s ease;
    background-color: #303c3a;
}

.form-group input:focus,
.form-group textarea:focus {
    border-color: #83ddd9;
}

.submit-btn {
    padding: 12px;
    background-color: #303c3a;
    color:#59736d;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-btn:hover {
    background-color: #6cc0b9;
}

/* Media Queries para Tablets (768px) */
@media (max-width: 768px) {
    .contact-container {
        padding: 20px;
    }

    .contact-container h2 {
        font-size: 1.8rem;
    }

    .form-group input,
    .form-group textarea {
        font-size: 0.9rem;
    }
}

/* Media Queries para Celulares (480px) */
@media (max-width: 480px) {
    .contact-container {
        padding: 15px;
    }

    .contact-container h2 {
        font-size: 1.5rem;
    }

    .form-group input,
    .form-group textarea {
        font-size: 0.85rem;
    }

    .submit-btn {
        font-size: 0.9rem;
    }
}








/* Contenedor general de la sección */
.eventos-section {
    text-align: center;
    padding: 40px 20px;
    
    
    margin-top: 150px;

    border-radius: 20px;
}

/* Estilo para el título de la sección */
.eventos-section h2 {
    font-family: "Hachi Maru Pop", cursive;
    font-size: 40px;
    color: #008080;
    margin-bottom: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

/* Contenedor de las cards */
.card-container {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    padding: 20px;
}

/* Estilos para cada card */
.card {
    width: 300px;
    height: 400px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    transition: transform 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Añadir efecto de movimiento al pasar el mouse */
.card:hover {
    transform: scale(1.05); /* Efecto de crecimiento */
}

/* Contenedor de la imagen */
.image-container {
    width: 100%;
    height: 100%;
    position: relative;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

/* Overlay: texto sobre la imagen */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(1px);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: 10px;
}

/* Al pasar el mouse, mostrar el texto */
.image-container:hover .overlay {
    opacity: 1;
}


/* Footer */
.footer {
    
    background-color: #59736d;
    color: black;
    padding: 40px 20px;
    padding-bottom: 5PX;

    text-align: center;
}

.footer h3 {
    font-size: 1.8rem;
    margin: 10px;
    
}

.footer-container {
    
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
}

/* Sección de información */
.footer-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-info p {
    font-size: 1rem;
    margin: 0;
    margin-top: 10px;
}

/* Sección de enlaces útiles */



.footer-links ul {
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style-type: none;
    padding: 0;
    margin: 30px;
}

.footer-links ul li {
    margin-bottom: 10px;
}

.footer-links ul li a {
    color: black;
    text-decoration: none;
    font-size: 1rem;
}

.footer-links ul li a:hover {
    text-decoration: underline;
}

/* Sección de redes sociales */
.footer-social a {
    margin: 10px;
    display: inline-block;
}

.footer-social img {
    width: 35px;
    height: 35px;
    
    transition: transform 0.3s ease;
}

.footer-social a:hover img {
    transform: scale(1.2);
}

/* Media Queries para dispositivos móviles (720px) */
@media (max-width: 720px) {
    .footer-container {
        flex-direction: column;
        text-align: center;
    }

    .footer-links ul {
        display: flex;
        justify-content: center;
        gap: 20px;
    }

    .footer-info, .footer-links, .footer-social {
        margin-bottom: 20px;
    }
}

/* Media Queries para dispositivos móviles más pequeños (480px) */
@media (max-width: 480px) {
    .footer-container {
        flex-direction: column;
        text-align: center;
    }

    .footer-links ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
    }

    .footer-social img {
        width: 35px;
        height: 35px;
    }

    .footer-info p {
        font-size: 0.9rem;
    }

    .footer-links ul li a {
        font-size: 0.9rem;
    }

    .footer-social a {
        margin: 5px;
    }
}


/* ------------------ Media Queries ------------------ */

/* Para pantallas de hasta 720px (tablets) */
@media (max-width: 720px) {
    .card-container {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 80%; /* Ajusta el tamaño para tablets */
        margin-bottom: 20px;
    }

    .eventos-section h2 {
        font-size: 32px; /* Disminuir el tamaño del título en tablets */
    }
}

/* Para pantallas de hasta 480px (móviles) */
@media (max-width: 480px) {
    .card-container {
        flex-direction: column;
        align-items: center;
        padding: 0;
    
    }

    .card {
        width: 90%; /* Ajusta el tamaño para móviles */
        margin-bottom: 20px;
    }

    .eventos-section{
        margin-top: 30px;
    }

    .eventos-section h2 {
        font-size: 28px; /* Disminuir el tamaño del título en móviles */
    }
    
}





/* Estilo para pantallas pequeñas */




.wave {
    margin-bottom: -10px;
    
    


}

.wave2 {
    margin-top: -60px;
}


