footer {
    
    background-color: #009688;
    color: white;
    text-align: center;
    padding: 2rem 0;
    overflow: hidden;
}

.wave-container {
    
    width: 100%;
    height: 100px;
    margin-bottom: -1px;
}

.waves {
    p
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.footer-content {
    padding: 1rem;
    margin-top: -20px;
}

.footer-links a {
    color: white;
    margin: 0 1rem;
    text-decoration: none;
    font-size: 16px;
}

.footer-links a:hover {
    text-decoration: underline;
}

footer p {
    margin: 1rem 0 0;
    font-size: 14px;
}


.svg {
    margin-bottom: -10px;

}
